# some team use a different IDE i.e Jetbrains Webstrom hence this need to be ignored to reduce ties to a single IDE
.idea
node_modules/
behind-the-veil-siteroot/package-lock.json

behind-the-veil-siteroot/server/secrets.js
.DS_Store
.DS_Store
behind-the-veil-siteroot/.DS_Store
