.label {
    width: 200px;
    flex-direction: row;
}
.booking-summary-input {
    display: flex;
}
.tooltip-icon {
    margin-left: 8px;
    cursor: pointer;
}
.booking-tooltip {
    display: none;
    backdrop-filter: blur(7.800000190734863px);
}

.tooltip-icon:hover + .booking-tooltip {
    display: block; /* Show the tooltip when hovering over the tooltip icon */
}