.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 0.15rem solid #D4D4D4;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 4rem;
    margin: 1rem;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav__link {
    text-decoration: none;
    font-weight: bold;
    color: #282828;
    transition: color 0.4s;
}

.nav__link:hover {
    color: #BBB4E8;
}

