@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* scroll bar is always present on the side, so it doesnt affect width and style of pages with/without overflow*/
        overflow-y: scroll;
    }

    body {
        /*padding on top for nav bar room*/
        padding-top: 5rem;
        /*the background*/
        @apply bg-main-bkg bg-no-repeat bg-cover bg-fixed;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        /* this attribute makes sure by default words break at a space, excessively long words can break the middle */
        word-break: break-word;
    }

    *:focus {
        @apply outline-secondary-purple-hover;
    }

    /* base font styles */
    .main-text {
        @apply text-our-black;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
    }

    .large-text {
        @apply text-our-black;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
    }

    .medium-text {
        @apply text-our-black;
        font-size: 15px;
        font-weight: 600;
        line-height: 150%;
    }

    .small-text {
        @apply text-our-black;
        font-size: 14px;
        font-weight: 600;
        line-height: 150%;
    }

    .title-text {
        @apply text-our-black;
        font-size: 40px;
        font-weight: 600;
        line-height: 150%;
    }

    .large-number-text {
        @apply text-our-black;
        font-size: 38px;
        font-weight: 400;
        line-height: 150%;
    }

    .medium-number-text {
        @apply text-our-black;
        font-size: 30px;
        font-weight: 400;
        line-height: 150%;
    }

    .logo-text {
        /* TODO: font should be poppins */
        @apply text-our-black;
        font-size: 25px;
        font-weight: 400;
        line-height: 150%;
    }

    .message-tag-text {
        @apply text-our-black;
        font-size: 14px;
        font-weight: 300;
        line-height: 150%;
    }

    .message-receiver-name-text {
        @apply text-our-black;
        font-size: 32px;
        font-weight: 500;
        line-height: 150%;
    }

    .message-read-text {
        @apply text-our-black;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }

    .message-unread-text {
        @apply text-our-black;
        font-size: 14px;
        font-weight: 600;
        line-height: 150%;
    }

    .message-name-read-text {
        @apply text-our-black;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    .message-name-unread-text {
        @apply text-our-black;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
    }
}

/* 
Define base styles for common reused components here.
This approach allows us to define base styles but allow the base styles to be overwritten 
on a case by case basis within individual JSX components.
*/
@layer components {
    .btn-base {
        @apply bg-light-grey hover:bg-light-grey-hover transition duration-500 ease-in-out
        main-text font-bold py-2 px-4 rounded-full w-fit;
    }

    /*used for ALL cards and background (basically anything that is a background and is white, use this)*/
    .white-glass-base {
        @apply rounded-3xl bg-white bg-opacity-90 backdrop-blur-lg /*style of the div*/
        flex flex-col gap-5;
        /*consistent styling for inside the div*/
    }

    .card-base {
        @apply white-glass-base border-main-blue border-2 w-fit rounded-[45px] p-6;
    }

    .input-base {
        @apply bg-white border-2 p-2 rounded-[6px] h-12 main-text
        border-light-grey hover:border-secondary-purple transition duration-500 ease-in-out;
    }

    .icon-base {
        @apply size-6 min-h-6 min-w-6 stroke-2;
    }

    .service-details-header-base {
        @apply grid grid-cols-2 grid-rows-2 gap-x-10 gap-y-4 w-full;
    }
    
    .review-details {
        @apply grid grid-cols-2 divide-blue-100 divide-x-[3px] w-full min-w-[300px] lg:w-4/5 mx-auto;
    }

}
